@font-face {
  font-family: "gothambold";
  src: url("../fonts/gothambold-webfont.eot");
  src: url("../fonts/gothambold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gothambold-webfont.woff2") format("woff2"),
    url("../fonts/gothambold-webfont.woff") format("woff"),
    url("../fonts/gothambold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gothambook";
  src: url("../fonts/gothambook-webfont.eot");
  src: url("../fonts/gothambook-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gothambook-webfont.woff2") format("woff2"),
    url("../fonts/gothambook-webfont.woff") format("woff"),
    url("../fonts/gothambook-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
// font-family: 'Open Sans', sans-serif;
